name: cupertino_interactive_keyboard_plus
description: A Flutter plugin intended to achieve native iOS interactively dismissible keyboard.
version: 0.0.2+1
homepage: https://github.com/pastordee/cupertino_interactive_keyboard_plus.git
issue_tracker: https://github.com/pastordee/cupertino_interactive_keyboard_plus/issues

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^2.1.2

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: CupertinoInteractiveKeyboardPlugin
